/* Wrapper */

.section-wrapper{
    display: flex;
  justify-content: center;
  width: 100%;
background-color: #082129;
}

.main-wrapper{
 display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
background: linear-gradient(#05171e, #0b191f);

}

.main-header{
  display: flex;
  align-items: center;
  gap: 24px;
  width: 1440px;
  height: 120px;
background-color: #082129;
padding-left: 40px;
}

.dividing-area{
  width: 100%;
  height: 60px;
  
}

/* Main Area */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

header img{
    width: 40px;
}

h1{
    font-size: 48px;
}

article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 64px; */
  flex: 1;

}

.book-area{
  margin-bottom: 60px;
  background-color: rgb(104, 48, 10);
  /* evtl auskommentieren flex 1 */
  flex: 1;
  padding: 0px 32px;
  padding-top: 32px;
  padding-bottom: 8px;
  margin-left: 64px;
  margin-right: 64px;
  width: 450px;
  border-radius: 16px;
  /* evtl auskommentieren darunter  */
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: 750px;
}

h2{
  font-size: 28px;
  text-align: center;
  padding-bottom: 16px;
}

.dividing-line {
  width: 100%;
  height: 2px;
  background-color: #efefef;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

aside{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
}

.price-button-area{
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.price-tag{
  display: flex;
  align-items: flex-end;
  font-size: 21px;
  color: rgb(241, 122, 36);
}

.like-button{
  background-color: rgb(104, 48, 10);
  border: 0;
  cursor: pointer;
}

.like-button img{
  width: 32px;
}

.like-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 16px;
}

table{
  padding-bottom: 16px;
}

h3{
  padding: 16px 0;
}

.comments{
  max-height: 225px;
  overflow-y: auto;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}



.comments-area{
  display: flex;
flex-direction: column;
height: 100%;
}

.comment-entry{
  padding-bottom: 16px;
}

.table-comment{
  padding-top: 6px;
}

.input-area{
  display: flex;
  gap: 8px;
 justify-content: center;
  margin-top: auto;
}

input{
  margin-top: 4px;
  color: black;
  display: flex;
 
}

.comments-button{
  background-color: rgb(104, 48, 10);
  border: 0;
  cursor: pointer;
}

.comments-button img{
  width: 32px;
}








footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
background-color: #082129;

}