/* Wrapper */

.section-wrapper{
    display: flex;
  justify-content: center;
  width: 100%;
background-color: #082129;
}

.main-wrapper{
 display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
background: linear-gradient(#05171e, #0b191f);

}

.main-header{
  display: flex;
  align-items: center;
  gap: 24px;
  width: 1440px;
  height: 120px;
background-color: #082129;
padding-left: 40px;
}

/* Main Area */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

header img{
    width: 40px;
}

h1{
    font-size: 48px;
}

article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
  flex: 1;

}

.book-area{
  margin-bottom: 60px;
  background-color: cornflowerblue;
  flex: 1;
  padding: 32px 32px;
  margin-left: 64px;
  margin-right: 64px;
  max-width: 350px;
  min-width: 320px;
}




footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
background-color: #082129;

}